{% extends "base.html" %}
{% load blog_tags %}
{% block title %}Мой блог{% endblock %}
{% block content %}
    <h1>Мой блог</h1>
    {% for post in posts %}
        <h2>
            <a href="{% url 'post_detail' pk=post.slug %}">{{ post.title }}</a>
        </h2>
        <p class="date">
            Опубликован {{ post.publish }} кем {{ post.author }}
        </p>
        {{ post.body|markdown|truncatewords_html:30 }}
    
        
    {% endfor %}
    {% include "pagination.html" with page=page_obj %}
{% endblock %}