{% extends "base.html" %}
{% block title %}Share a post{% endblock %}
{% block content %}
    {% if sent %} 
        <h1>Почта отправлена</h1>
        <p>
            "{{ post.title }}" Почта была отправлена: {{ cd.to }}.
        </p>
     {% else %} 
        <h1>Отправить "{{ post.title }}" на почту</h1>
        <form action="{% url 'post_share' pk=post.slug %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Send e-mail">
        </form>
     {% endif %} 
{% endblock %}